<header class="w-100 h-100 px-4 my-shadow d-flex justify-content-between align-items-center rounded-bottom-5">
    <a href="/home" class="text-decoration-none">
        <div class="fs-2 fw-medium">
            <span>
                <img class="img-fluid" src="../../assets/Images/icon-luzma-bw.png" alt="icon">
                LuzaShop
            </span>
        </div>
    </a>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg me-3" role="group">
            <button type="button" class="btn btn-outline-dark" routerLink="/home">Home</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
                    Categories
                </button>
                <ul class="dropdown-menu fs-5">
                    <ng-container *ngFor="let item of navigationService.list; let i = index;">
                        <li class="text-center fw-bold">{{item.category| titlecase}}</li>
                        <li *ngFor="let subCategory of item.subCategories" [style.cursor]="'pointer'">
                            <a class="dropdown-item" OpenProducts
                               [category]="{id: 0, 'category': item.category, 'subCategory': subCategory}">
                                {{subCategory | titlecase}}
                            </a>
                        </li>
                        <li *ngIf="i !== navigationService.list.length">
                            <hr class="dropdown-divider">
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>

        <div class="btn-group btn-group-lg me-2" role="group">
            <button type="button"class="btn btn-outline-dark" data-bs-toggle="modal"       
                data-bs-target="#generalmodal" (click)="openModal('login')" *ngIf="!utilityService.isLoggedIn()">Login</button>
            <button type="button"class="btn btn-warning btn-outline-dark" data-bs-toggle="modal" 
                data-bs-target="#generalmodal" (click)="openModal('register')" *ngIf="!utilityService.isLoggedIn()">Register</button>   
            <button type="button"class="btn btn-outline-dark" *ngIf="utilityService.isLoggedIn()">Account</button>
            <button type="button"class="btn btn-outline-dark" routerLink="/cart" *ngIf="utilityService.isLoggedIn()">Cart
                <span class="badge bg-warning text-dark" >{{cartItems}}</span>
            </button>
            <button type="button"class="btn btn-outline-dark"routerLink="/orders" *ngIf="utilityService.isLoggedIn()">Orders</button>
            <button type="button"class="btn btn-outline-dark" (click)="utilityService.logoutUser()" *ngIf="utilityService.isLoggedIn()">LogOut</button>
        </div>

    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="generalmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" #modalTitle></h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container #container></ng-container>
            </div>
        </div>
    </div>
</div>
