:host{
    display: block;
    height: 5rem;
    width: 85%;
    position: fixed;
    top: 0%;
    left: 8%;
    z-index: 20;
}

header{
    background-color:floralwhite
    
}
span{
    color: #000;
}

header > a > div > span > img.img-fluid {
    width: 50px; /* Ejemplo de ajuste de ancho */
    height: auto; /* Mantener la proporción de aspecto */
    margin-right: 10px; /* Ejemplo de ajuste de margen */
}

