.product-baner button{
    position: absolute;
    top: 50%;
    left:20%
}


#carouselExampleCaptions {
    width: 100%;
    height: 60vh; /* Establece la altura al 30% de la altura de la ventana */
    
}

.carousel-inner {
    height: 100%; /* Ajusta la altura del contenido al 100% */
}

.carousel-item {
    height: 100%; /* Ajusta la altura de cada elemento al 100% */
}

.carousel-item img {
    object-fit: cover; /* Ajusta la imagen para que cubra completamente el contenedor */
    width: 100%;
    height: 100%;
}

.mx-auto > div > div img{
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

